{:paths ["src"]
 :deps  {org.clojure/clojure          {:mvn/version "1.12.0"}
         com.microsoft.playwright/playwright {:mvn/version "1.49.0"}}
 :aliases
 {;; Install browser binaries:  clojure -M:install chromium
  :install {:main-opts ["-m" "playwright-clj.install"]}
  ;; Run tests:  clojure -M:test
  :test {:extra-paths ["test"]
         :main-opts   ["-m" "playwright-clj.smoke-test"]}}}
